.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
}

.card h2 {
    height: 72px;
    vertical-align: middle;
}

.card:hover {
    transform: translateY(-10px);
}

.card:active {
    opacity: 0.8;
    background-color: grey;
    transform: translateY(10px);
}

.card:nth-child(odd) {
    background-color: #e0f7fa;
}

.card:nth-child(even) {
    background-color: #ffe0b2;
}